/*basic setup*/
*{
    padding: 0;
    margin: 0;
}

/*Navbar section*/
.hero-section{
    background-image: url(Hero-bg.png);
    height: 698px;
    width:100%;
    position: relative;
}
.hero-section nav h1{
    color:#4E47FF;
    font-size: 38px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}
.hero-section nav button{
    background-color: #4E47FF;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    height:48px;
    width:132px;
    font-size: 16px;
    font-weight: 600;
    border:none;
    border-radius: 10px;    
}
nav{
    position: absolute;
    top:0;
    left:50%;
    display: flex;
    transform: translateX(-50%);
    align-items: center;
    justify-content: space-between;
    height: 150px;
    width:80%;
    text-align: center;
}
.btn:hover{
    background-color: rgb(206, 206, 8);
    color: black;
    transition: 0.5s;
}
/*Banner section*/
.hero-section section h1{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    
}
.hero-section section{
    width:900px;
    height: 235px;
    text-align: center;
    margin: 0 auto;
    padding: 300px 200px;
}
.hero-section section button{
    width:174px;
    height:48px;
    background-color: #4E47FF;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    margin: 36px 12px;
}
/*Action Section*/
.action{
    height: 328px;
    width:80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:210px;
    margin: 0 auto;
    margin-top: 100px;
}
.action-text{
    width:500px;
    height:200px;
    margin-top: 10px;
    display: flex;           
    flex-direction: column; 
    gap: 20px;     
}
.action-text h1{
    font-size: 42px;
    font-weight: bold;
     font-family: "Raleway", sans-serif;
}
.action-text p{
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    color: rgba(37, 36,50,0.5);
}
.action-text button{
    height: 48px;
    width:230px;
    border-radius: 10px;
    background-color: #4E47FF;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border:none;
}
.action-img img{
    width: 400px;
    height: 325px;
    border-radius: 48px;
}
/*Productive Users Section*/
.productive-user{
    height: 286px;
    width: 80%;
    background-color: rgba(78,71,255,0.1);
    border-radius: 24px;
    margin: 0 auto;
    margin-top: 100px;
}
.productive-user-text-1 h1{
    font-size: 38px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    text-align: center;
    padding-top: 50px;
}
.productive-user-text-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:150px;
    padding-top: 40px;
}
.productive-text h1{
    color:#4E47FF;
    font-size: 80px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}
.productive-text p{
    color:rgba(0,0,0,0.5);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    text-align: center;
}
/*User's FeedBack Section*/
.user-feedback{
    height: 342px;
    width:78%;
    margin: 0 auto;
    margin-top: 100px;
}

.user-feedback-text h1{
    font-size: 42px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    text-align: center;
}
.user-feedback-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    padding-top: 50px;
}
.card{
    height:243px;
    width:340px;
    border-radius: 14px;
    padding-top:24px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;           
    flex-direction: column; 
    gap: 24px;  
    background-color: whitesmoke;
}
.card .fa-star{
    color: #FFB805;
}
.card h1{
    font-size: 30px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    padding-bottom: 20px;
}
.card p{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    margin-bottom: 24px;
}
.card-img img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding-left: 5px;
}
.card-img h3{
    color: gray;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    padding-bottom: 5px;
}
.card-img p{
    color: rgb(161, 160, 160);
    font-family: "Inter", sans-serif;
    font-size: 16px;
}
.card-img{
    display: flex;
    gap:10px;
    justify-content:left;
    align-items: center;
}
.card .card-text{
    height: 81px;
    width:315px;
}
.card-img div{
    padding-top: 10px;
}
/*Ready to Focus Better */
.focus-better{
    height: 696px;
    width: 80%;
    background-color: whitesmoke;
    border-radius: 14px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.focus-better h1{
    font-size: 50px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    text-align: center;
    padding-top: 71px;
}
.focus-better p{
    font-size: 20px;
    color: rgba(0,0,0,0.5);
    font-family: "Inter", sans-serif;
    text-align: center;
    padding-top: 20px;
}
.focus-better button{
    height: 48px;
    width:195px;
    color:#ffffff;
    background-color: #4E47FF;
    border-radius: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border:none;
    margin-top: 20px;
    
}
.focus-better .focus-better-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.focus-better img{
    width: 840px;
    height: 364px;
    border-radius: 48px;
    text-align: center;
    padding-top: 20px;
}
/*form section*/
.form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 632px;
    margin: 0 auto;
    margin-top: 100px;
}
.form-section-text{
    height: 232px;
    width:528px;
}
.form-section-text h1{
    font-size: 97px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
}
.form-section-form input[type="text"], .form-section-form input[type="email"], .form-section-form textarea{
     height: 60px;
     border-radius: 10px;
     background-color:whitesmoke;
     display: block;
     width: 480px;
     padding: 10px 20px;
     margin-bottom: 24px;
     border: none;
}
.form-section-form label{
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
}
.form-section-form button{
    width: 515px;
    height: 60px;
    color: #ffffff;
    background-color: #4E47FF;
    border-radius: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border:none;
    margin-top: 20px;
}
/*footer section*/
footer{
    height: 428px;
    width: 100%;
    background-color: whitesmoke;
}
.footer{
    height: 221px;
    width:531px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top:100px ;
}
.footer-text h1{
    font-size: 100px;
    color: #4E47FF;
    font-weight: bolder;
    font-family: "Inter", sans-serif;
    text-align: center;
}
.footer-text p{
    font-family: "Inter", sans-serif;
    text-align: center;
    color:rgb(137,135,161);
    margin-top: 20px;
}
.footer-list ul{
    list-style: none;
    color:rgb(137,135,161);
    font-family: "Inter", sans-serif;
    display: flex;
    justify-items: center;
    align-items: center;
    gap:25px;
    margin-top: 20px;   
}
.footer-list li a{
    text-decoration: none;
    color:rgb(137,135,161);
}